  <head>
    <meta charset="utf-8">
    <title>TP Final - Siscomp</title>
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
  </head>

  <body>

    <!-- Header -->

    <header class="primary-header container group">

      <h1 class="logo">
        <a href="index.html">Control <br> de horarios</a>
      </h1>

      <h3 class="tagline">Fecha de entrega: 27 Jun, 2019  </h3>

      <nav class="nav primary-nav">
        <ul>
          <li><a href="modificar_horario.html">Modificar horarios</a></li><!--
          --><li><a href="registros.html">Consultar registros</a></li><!--
          --><li><a href="cargar_nuevo.html">Cargar nuevo empleado</a></li>
        </ul>
      </nav>

    </header>

    <!-- Lead -->

    <section class="row-alt">
      <div class="lead container">

        <h1>Consultar el registro de asistencias</h1>

        <p>En esta página podrá consultar el ingreso y egreso de los empleados durante
        un cierto período de tiempo. Las consultas son realizadas a la base de datos del sistema y puede establecer diferentes filtros de fechas, número de empleado, asistencias, etc.</p>

      </div>
    </section>


    <!-- Teasers -->

    <section class="row">
      <div class="grid">

        <!-- Speakers -->

          <section class = "container filter">
            <form action="/cgi-bin/leerusuarios.py" method="GET">
              <label>CONSULTAR DEPENDIENTES - (lista de empleados)</label><br><br>
              <input class="btn btn-default" type="submit" align="center" name="submit" value="CONSULTAR">
            </form>
            <br>
            <hr>
          </section>

          <section class = "container filter">
            <form action="/cgi-bin/leerpordni.py" method="GET">
              <label>CONSULTAR HORARIOS POR DEPENDIENTE</label>
              <fieldset class="register-group2" >
                <input type="text" name="dni" placeholder="DNI" required>
              </fieldset>
              <input class="btn btn-default" type="submit" align="center" name="submit" value="Filtrar DNI">
            </form>
            <br>
            <hr>
          </section>

          <section class = "container filter">
            <form action="/cgi-bin/leerultimas.py" method="GET">
              <label>CONSULTAR ULTIMAS (N) ENTRADAS</label>
              <fieldset class="register-group2" >
                <input type="number" name="cantidad" placeholder="CANTIDAD DE ENTRADAS" required>
              </fieldset>
              <input class="btn btn-default" type="submit" align="center" name="submit" value="Buscar ultimas entradas">
            </form>
            <br>
            <hr>
          </section>


      </div>
    </section>



    

  </body>
</html>